<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-sm">
    <form id="event-creation-form"
          class="form-horizontal"
          th:object="${event}"
          th:action="@{/preview}"
          method="post">
        <div id="event-creation-form-inputs-holder"
             th:hidden="true"
             th:insert="fragments/form :: event-creation-form-inputs">
        </div>
        <div id="preview">
            <button type="button" id="back-button" class="btn btn-secondary my-3 mr-3" onclick="history.back()">Back
            </button>
            <button type="submit" id="submit-button" class="btn btn-primary my-3">Submit</button>
            <p>This is what your email will look like:</p>
            <blockquote style="background: #eee;border-radius: 5px; padding: 15px;">
                <div th:replace="fragments/mail :: mail"></div>
            </blockquote>
        </div>
    </form>
</div> <!-- /container -->
<script type="text/javascript" th:src="@{/js/datetimelocal.js}"></script>
</body>
</html>