<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-sm">
    <form id="event-creation-form"
          class="form-horizontal"
          th:action="@{/wichteln}"
          th:object="${event}"
          method="post">
        <button type="submit"
                id="preview-button"
                class="btn btn-primary my-3 mr-3">
            Preview...
        </button>
        <button type="reset" id="reset-button" class="btn btn-danger my-3">Reset</button>
        <div th:replace="fragments/form :: event-creation-form-inputs"></div>
    </form>
</div> <!-- /container -->
<script type="text/javascript" th:src="@{/js/datetimelocal.js}"></script>
</body>
</html>