<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head :: head"></div>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-sm">
    <form id="event-creation-form"
          class="form-horizontal"
          th:action="@{/wichteln}"
          th:object="${event}"
          method="post">
        <button type="submit"
                id="preview-button"
                class="btn btn-primary my-3 mr-3">
            Preview...
        </button>
        <button type="reset" id="reset-button" class="btn btn-danger my-3">Reset</button>
        <div th:replace="fragments/form :: event-creation-form-inputs"></div>
    </form>
</div> <!-- /container -->
<script th:inline="javascript">
    function needsFallback() {
        // Test whether a new datetime-local input falls back to a text input or not
        const test = document.createElement('input');

        try {
            test.type = 'datetime-local';
        } catch (e) {
            console.log(e.description);
        }
        return test.type === 'text';
    }

    if (needsFallback()) {
        const dateTimeInput = document.getElementById('local-date-time');
        dateTimeInput.type = 'date';
        document.getElementById('submit-button').onclick = function () {
            // Temporarily fall even further back to 'text' type so we may manipulate the value since an input element
            // of type 'date' would not allow a value like "2020-11-01T00:00".
            dateTimeInput.type = 'text';
            dateTimeInput.value = dateTimeInput.value + "T00:00";
        };
    }
</script>
</body>
</html>