﻿@{
    ViewData["Title"] = "Wichteln - About";
}

<h2>About</h2>
<p><i>Wichteln</i>, or <i><a href="https://en.wikipedia.org/wiki/Secret_Santa">Secret Santa</a></i> is a way of cost- and resource-efficiently distributing gifts among a group of people.</p>