﻿@{
    ViewData["Title"] = "Wichteln - Privacy Policy";
}
<h2>Privacy</h2>

<p>No information whatsoever will be stored for any other purpose than creating the your Wichtel Event properly and notifying its participants.</p>
<p>When you're done and the emails have been sent all the data you entered gets automatically deleted.</p>