﻿@model Wichteln.Models.WichtelEvent

@{
    ViewData["Title"] = "Wichteln - Delete";
}

<h2>Delete</h2>

<h4>Are you sure you want to delete this?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InitiatorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitiatorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitiatorMail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitiatorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeldAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeldAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxValue)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WichtelEventId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
<br />

<div>
    <input type="button" class="btn btn-default" value="Back" onclick="window.location.href = '@Url.Action("Edit","WichtelEvents", new { wichtelEventId = Model.WichtelEventId })'" />
</div>
