﻿@model Wichteln.Models.WichtelEvent

@{
    ViewData["Title"] = "Wichteln - Check";
}

<h2>Verification</h2>

<h4>If everything's fine, an email will be sent to each participant with the event data and the name of their gift's recipient.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WichtelEventId" />
            <input type="hidden" asp-for="EventName" />
            <input type="hidden" asp-for="InitiatorName" />
            <input type="hidden" asp-for="InitiatorMail" />
            <input type="hidden" asp-for="HeldAt" />
            <input type="hidden" asp-for="MaxValue" />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.InitiatorName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InitiatorName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.InitiatorMail)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.InitiatorName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EventName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EventName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.HeldAt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.HeldAt)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.MaxValue)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaxValue)
                </dd>
            </dl>
            <div>
                <table class="table" id="participantstable">
                    <thead>
                        <tr>
                            <th>
                                <label asp-for="@Model.Participants[0].Name" class="control-label"></label>
                            </th>
                            <th>
                                <label asp-for="@Model.Participants[0].Email" class="control-label"></label>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Participants.Count; i++)
                        {
                            <tr class="participantsrow">
                                <td>
                                    @Html.DisplayTextFor(we => @Model.Participants[i].Name)
                                    <input asp-for="@Model.Participants[i].Name" class="form-control" type="hidden" />
                                </td>
                                <td>
                                    @Html.DisplayTextFor(we => @Model.Participants[i].Email)
                                    <input asp-for="@Model.Participants[i].Email" class="form-control" type="hidden" />
                                </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Done! Wichtel It!" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <input type="button" class="btn btn-default" value="Back" onclick="window.location.href = '@Url.Action("Edit","WichtelEvents", new { wichtelEventId = Model.WichtelEventId })'" />
</div>
<br />
<div>
    <a value="Delete" href="@Url.Action("Delete","WichtelEvents", new { wichtelEventId = Model.WichtelEventId })">Delete Event</a>
</div>