﻿@model Wichteln.Models.WichtelEvent

@{
    ViewData["Title"] = "Wichteln - Edit";
}

<h2>Wichtel Away!</h2>

<h4>Create a new Wichtel Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label"></label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeldAt" class="control-label"></label>
                <input asp-for="HeldAt" class="form-control" type="date" />
                <span asp-validation-for="HeldAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitiatorName" class="control-label"></label>
                <input asp-for="InitiatorName" class="form-control" />
                <span asp-validation-for="InitiatorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitiatorMail" class="control-label"></label>
                <input asp-for="InitiatorMail" class="form-control" />
                <span asp-validation-for="InitiatorMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxValue" class="control-label"></label>
                <input asp-for="MaxValue" class="form-control" />
                <span asp-validation-for="MaxValue" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <b>Participants</b>
                <table class="table" id="participantstable">
                    <thead>
                        <tr>
                            <th>
                                <label asp-for="@Model.Participants[0].Name" class="control-label"></label>
                            </th>
                            <th>
                                <label asp-for="@Model.Participants[0].Email" class="control-label"></label>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Participants.Count; i++)
                        {
                            <tr class="participantsrow">
                                <td>
                                    <input asp-for="@Model.Participants[i].Name" class="form-control" />
                                    <span asp-validation-for="@Model.Participants[i].Name" class="small text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="@Model.Participants[i].Email" class="form-control" />
                                    <span asp-validation-for="@Model.Participants[i].Email" class="small text-danger"></span>
                                </td>
                                <td>
                                    <input class="hiddeninput form-control" type="hidden" name="Participants.Index" value="@i" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button id="AddParticipant" type="button" class="btn btn-block">Add Participant</button>
            </div>
            <hr />
            <div class="form-group">
                <input id="submitbutton" type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a value="Delete" href="@Url.Action("Delete","WichtelEvents", new { wichtelEventId = Model.WichtelEventId })">Delete Event</a>
</div>

<div id="NewParticipantName" style="display:none">
    <input class="form-control" id="Participants_#__Name" data-val="true" data-val-required="The Name field is required." name="Participants[#].Name" type="text" value="" />
</div>
<div id="NewParticipantEmail" style="display:none">
    <input class="form-control" id="Participants_#__Email" data-val="true" data-val-required="The Email field is required." name="Participants[#].Email" type="text" value="" />
</div>
<div id="NewParticipantIndex" style="display:none">
    <input class="form-control" type="hidden" name="Participants.Index" value="%" />
</div>



@section Scripts {
    <script type="text/javascript">
        var addRow = function () {
            var index = $(".participantsrow").length;

            var trdiv = $("<tr class='participantsrow'></tr>");

            var nameclone = $('#NewParticipantName').clone();
            var namehtml = $(nameclone).html();
            namehtml = namehtml.replace(/#/g, index);
            var nametd = $("<td class='participantdata'></td>").append($(namehtml));
            $(trdiv).append($(nametd));

            var emailclone = $('#NewParticipantEmail').clone();
            var emailhtml = $(emailclone).html();
            emailhtml = emailhtml.replace(/#/g, index);
            var emailtd = $("<td class='participantdata'></td>").append($(emailhtml));
            $(trdiv).append($(emailtd));

            var indexclone = $('#NewParticipantIndex').clone();
            var indexhtml = $(indexclone).html();
            indexhtml = indexhtml.replace(/#/g, index);
            indexhtml = indexhtml.replace(/"%"/g, '"' + index + '"');
            var indextd = $("<td class='participantdata'></td>").append($(indexhtml));
            $(trdiv).append($(indextd));

            $('#participantstable tbody').append($(trdiv));
        }

        $(document).ready(function () {
            $('#AddParticipant').click(addRow);

            $('#submitbutton').tooltip({ title: "You can confirm your entry before sending out notifications", delay: { show: 0, hide: 100 } });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
