﻿@model IEnumerable<Wichteln.Models.WichtelEvent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeldAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HeldAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-wichtelEventId="@item.WichtelEventId">Edit</a> |
                <a asp-action="Details" asp-route-wichtelEventId="@item.WichtelEventId">Details</a> |
                <a asp-action="Delete" asp-route-wichtelEventId="@item.WichtelEventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
